{% extends "base.html" %}
{% block content %}
<section>
  <div class="imageGrid">
    <a class="imageGridItem" href="{% url 'logout' %}"><p>Logout</p></a>
    <a class="imageGridItem" href="{% url 'staff_profile_page' %}"><p>Profile</p></a>
    <a class="imageGridItem" href="{% url 'create_post' %}"><p>Create Post</p></a>
    <a class="imageGridItem" href="{% url 'author_posts' user.username %}"><p>My Posts</p></a>
    <a class="imageGridItem" href="{% url 'editor_posts' %}"><p>Review Posts</p></a>
  </div>
</section>
{%endblock%}
