@font-face {
    src: url(Fonts/courier_new.ttf);
    font-family: "courier";
}

@font-face {
    src: url(Fonts/times_new_roman.ttf);
    font-family: "timesNewRoman";
}

:root {
    --mainBackgroundColor: rgb(252, 252, 252);
    --mainTextColor: rgb(75, 75, 75);
    --leftMarginWidth: 40px;
    --baseNavbarColor: rgb(166, 153, 154);

}

body {
    margin-left: var(--leftMarginWidth);
    background-color: var(--mainBackgroundColor);
    color: var(--mainTextColor);
}

/* Links */

a:link {
  text-decoration: none;
}

/* Links End */

/* Navbar Start */

.mainNav {
    padding-top: 20px;
    padding-bottom: 40px;
}

.mainNav ul li {
    list-style: none;
    list-style-position: inside;
    display: inline-block;
}

.mainNav ul a {
    margin-right: 40px;
    float: right;
    text-decoration: none;
    color: var(--baseNavbarColor);
}

.mainNav p {
  float: left;
  border-left: 40px;
  color: var(--baseNavbarColor);
}

a:hover {
    color: var(--mainTextColor);
}

/* Navbar End */

/* Image Grid */

.imageGrid {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.imageGrid p {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  display: inline-flex;
  background-color: var(--mainTextColor);
  color: white;
  font-size: 20px;
}

/* Image Grid END */

/* Footer */

.socialLinks p {
  float: left;
}

.socialLinks ul a {
  float: right;
  display: inline-block;
  margin-right: 10px;
  list-style: none;
}

/* Footer End */

/* Index Page */

section {
	background-color: grey;
  margin-left: -40px;
  margin-right: -8px;
}

/* Index Page End */

/* Feed Page */

.pageContainer {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.reducedBlog {
	border: solid;
	border-radius: 5px;
	border-color: var(--baseNavbarColor);
	border-width: 5px;
	background-color: var(--mainBackgroundColor);
  margin-bottom: 20px;
}

.interiorMargin {
	margin-left: 20px;
  margin-right: 20px;
	margin-top: -10px;
}

.fadeText {
	opacity: 50%;
}

button {
	background-color: var(--mainBackgroundColor);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

button:hover {
	background-color: rgb(225, 225, 225);
}

/* Feed Page End */

/* Detail Blog */

/* Detail Blog End */

/* Authorbar */

.authorbarContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Authorbar End */
