{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Wordsonacomputer</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Navigation -->
        <nav class="mainNav">
          <a href="{% url 'home' %}"><p>Wordsonacomputer</p></a>
          <ul>

            {% if user.is_authenticated %}
            <a href="{% url 'staff_home' %}"><li>STAFF SITE</li></a>
            <a href="{% url 'logout' %}"><li>LOGOUT</li></a>
            {% else %}
            <a href="{% url 'staff_home' %}"><li>STAFF LOGIN</li></a>
            <a href="{% url 'login' %}"><li>LOGIN</li></a>
            {% endif %}
            <a href="{% url 'profilePage' %}"><li>PROFILE</li></a>
            <a href="{% url 'about' %}"><li>ABOUT US</li></a>
            <a href="{% url 'blogArchive' %}"><li>ARCHIVED BLOGS</li></a>
            <a href="{% url 'feed' %}"><li>RECENT BLOGS</li></a>
          </ul>
        </nav>
        {% if messages %}
          {% for message in messages %}
            <div>{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <footer>
          <nav class="socialLinks">
            <p>© 2020 All rights reserved<br>Powered by SquareSpace</p>
            <ul>
              <a href="https://twitter.com/Alexhart50Alex"><li><img border="0" alt="twitter share link" src="{% static 'images/twitterLogo.png' %}" width="20" height="20"/></li></a>
              <a href="https://www.instagram.com/alex_j_hart/"><li><img border="0" alt="instagram share link" src="{% static 'images/instagramLogo.png' %}" width="20" height="20"/></li></a>
              <a href="https://www.facebook.com/alex.hart.1044186/"><li><img border="0" alt="facebook share link" src="{% static 'images/facebookLogo.png' %}" width="20" height="20"/></li></a>
              <a href="#"><li><img border="0" alt="email share link" src="{% static 'images/mailLogo.png' %}" width="20" height="20"/></li></a>
            </ul>
          </nav>
        </footer>
    </body>
</html>
