{% extends "base.html" %}
{% block content %}
<section>
  <div class="imageGrid">
    <a class="imageGridItem" href="{% url 'feed' %}"><p>Recent Posts</p></a>
    <a class="imageGridItem" href="{% url 'blogArchive' %}"><p>Post Archive</p></a>
    {% if user.is_authenticated %}
    <a class="imageGridItem" href="{% url 'logout' %}"><p>Logout</p></a>
    <a class="imageGridItem" href="{% url 'staff_home' %}"><p>Staff Site</p></a>
    {% else %}
    <a class="imageGridItem" href="{% url 'login' %}"><p>Login</p></a>
    <a class="imageGridItem" href="{% url 'staff_home' %}"><p>Staff Login</p></a>
    {% endif %}
    <a class="imageGridItem" href="{% url 'profilePage' %}"><p>Profile</p></a>
    <a class="imageGridItem" href="{% url 'about' %}"><p>About Us</p></a>
  </div>
</section>
{%endblock%}
