{% extends 'base.html' %}
{% block content %}

<div class="pageContainer">
    <div class="reducedBlog">
      <div class="interiorMargin">
        <div>
          <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
          <p class="fadeText">{{ post.author_name }} | {{ post.updated_on }}</p>
          <p>{{ post.content | safe |linebreaksbr}}</p>
        </div>
        <div class="authorbarContainer">
              <p>{{ post.author_name }}</p>
              <p>{{ post.created_on }}</p>
        </div>
      </div>
    </div>
    <!-- EXISTING COMMENTS -->
    <div class="commentBox">
    {% for comment in comments %}
      {% if comment.censored == False %}
        <div class="individualComment">
          <div class="commentHeader">
            <p style="float: left">{{ comment.author.username }}</p>
            <p style="float: right">{{ comment.created_on }}</p>
          </div>
          <p>{{ comment.body | linebreaks }}</p>
        </div>
      {% elif comment.censored %}
      <div class="individualComment">
        <div class="commentHeader">
          <p style="float: left">unknown</p>
          <p style="float: right">{{ comment.created_on }}</p>
        </div>
        <p>This comment has been censored by a site admin</p>
      </div>
    {% endif %}
    {% endfor %}
    </div>
    <!-- END EXISTING COMMENTS -->
    <!-- CREATE NEW COMMENT -->
    {% if  request.user.is_authenticated %}
      <div class=createComment style="text-align: center;">
      <h3>Leave a comment</h3>
      <form method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <button type="submit">Post</button>
      </form>
      </div>
    {% else %}
      <h3>You must be logged in to post comments</h3>
    {% endif %}
    <!-- END CREATE NEW COMMENT -->
</div>

{% endblock content %}
