{% extends 'base.html' %}
{% block content %}

<div class="pageContainer">
    <div class="reducedBlog">
      <div class="interiorMargin">
        <div>
          <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
          <p class="fadeText">{{ post.author_name }} | {{ post.updated_on }}</p>
          <p>{{ object.content | safe |linebreaksbr}}</p>
        </div>
        <div class="authorbarContainer">
              <p>{{ post.author_name }}</p>
              <p>{{ post.created_on }}</p>
        </div>
      </div>
    </div>
</div>

{% endblock content %}
